<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bitcoin Simulator</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="bg-gray-900 text-white">
    <div class="header">
      <div class="content">
        <div class="name">
          <h1>Bitcoin Simulator</h1>
          <p>Made By Dtblocker02</p>
        </div>
      </div>
    </div>

    <div class="dashboard">
      <div class="cryptos">
        <div>BTC</div>
        <div>ETH</div>
        <div>BNB</div>
        <div>SOL</div>
      </div>

      <div class="portfolio">
        <div class="">Portfolio</div>
        <div class="right">Refresh Icon</div>
        <div class="left">Available Cash</div>
        <div class="right">$2,000,000</div>
        <div class="left">Total Value</div>
        <div class="right">$3,000,000</div>
      </div>

      <div class="recentTrades portfolio_temp">
        Recent Trades
        <div class="transactions">
          <div class="left top">BTC</div>
          <div class="right top">$69</div>
          <div class="left bottom">Jul 12, 00:00</div>
          <div class="right bottom">@ $117,349.96</div>
        </div>
      </div>

      <div class="buySellBtc">
        <div class="buy">
          Deposit (INR)
          <input type="text" name="" id="" />
        </div>
        <div class="sell">
          Withdraw (INR)
          <input type="text" name="" id="" />
        </div>
      </div>

      <!-- <div class="chart">

      </div> -->

    </div>

    <!-- Scripts -->
  </body>
</html>
